.work-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
}
.work {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
}
.work img {
  border-radius: 10px;
  width: 100%;
  display: block;
}
.layer {
  width: 100%;
  height: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.6), #ff004f);
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  font-size: 14px;
}

.layer h6 {
  font-weight: 500;
  margin-bottom: 20px;
}

.layer a {
  font-weight: 500;
  margin-top: 20px;
  color: #ff004f;
  text-decoration: none;
  line-height: 60px;
  background: #fff;
  font-size: 18px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-align: center;
}

.work:hover .layer {
  height: 100%;
  transition: 0.5s;
}

.work:hover img {
  transform: scale(1.1);
  transition: 0.5s;
}

#projectspage{
  padding:0 20px 
}